[2018-06-18 19:05] brharr opened #1 "HOL Issue: Storage Acct Creation"
In the very first step in the pre-requisites it says to build a Storage account with the Blog Type and Hot Tier specified. However, further down it says after copying down the access keys, it says to go to the Containers setting under General Settings, however there is no such place within any of the available Storage Account types. This needs to be resolved before the Ready event coming up.

This

[2018-06-18 23:29] joelhulen commented on #1
The only thing that's constant with the Azure portal is change :)

You're right that the setting header is no longer "Settings", but is now called "Blob Service".
![image](https://user-images.githubusercontent.com/5950304/41567340-b904f918-732d-11e8-8995-58bc5ee29c5b.png)

I think this lab is currently due for a test/fix. I'll find out who's doing that and see if they can update accordingly.

[2018-06-19 23:51] ZoinerTejada commented on #1
Thanks Brian. This has been fixed in the june-2018-test-fix branch and will soon be made available in the master branch (before Ready).

[2018-06-19 23:51] #1 closed

[2018-06-22 19:41] hopero929 opened #2 "Update Readme file"
Please add:
Introduction
Update abstracts to reflect new style
Add services/products
Related links (if any)

[2018-06-28 20:31] emilysaeli opened #3 "PPT"
Not all images are in the same style, per the Microsoft style guide. Some are "live" and some are clip art.

[2018-06-28 22:30] emilysaeli opened #4 "PPT abstract"
PPT abstract is incorrect

[2018-06-29 15:55] DawnmarieDesJardins opened #5 "Update Header image"
Need new MCW headers on all docs please.
Need to rename folders HOL & WDS

[2018-06-29 16:20] DawnmarieDesJardins opened #6 "Missing alt-text"
HOL Unguided - Solution architecture - line 165 in .md is missing alt-text

[2018-06-29 21:55] #6 closed

[2018-06-29 21:56] #5 closed

[2018-06-29 21:56] #4 closed

[2018-06-29 21:56] #3 closed

[2018-06-29 21:56] #2 closed

[2018-06-30 02:04] DawnmarieDesJardins opened #7 "HTML update"
Please create updated HTML documents

[2018-07-03 17:12] DawnmarieDesJardins opened #8 "Verify links in HOLs"
Folder and document names have been updated. Please check your HOL documents for links that use folder names in their path and make sure they are still valid and working.

[2018-07-03 18:08] archanamehta opened #9 "Within Task 2: Finish the ProcessImage function Incomplete TODO"
Hi,
   Once I open theTollBooth project within VS , I do not have all the necessary Code to Enter within TODO. For example: What do I enter for databaseMethod.cs? The Code does not seem to work. Can someone Assist?

Regards,
Archana

[2018-07-03 18:17] joelhulen commented on #9
Are you following the HOL step-by-step guide? You'll see the code for databaseMethods.cs: https://github.com/Microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-2-finish-the-processimage-function

[2018-07-03 18:22] archanamehta commented on #9
I do see the code to enter for DatabaseMethod.cs for TODO 5. What do I enter?

// TODO 5: Retrieve a List of LicensePlateDataDocument objects from the collectionLink where the exported value is false.
 // COMPLETE: licensePlates = _client.CreateDocumentQuery ...
 // TODO 6: Remove the line below.
 licensePlates = new List<LicensePlateDataDocument>();

[2018-07-03 18:22] archanamehta commented on #9
Also When I open the Code is VS I get errors and not sure what needs to be done.

[2018-07-03 18:24] joelhulen commented on #9
You can find the code for TODO 5 here:

https://github.com/Microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-4-finish-your-exportlicenseplates-function-code-and-push-changes-to-github-to-trigger-deployment

The code in VS is supposed to throw errors until the TODO items are completed in order, per the instructions in the doc

[2018-07-03 19:28] joelhulen commented on #8
Done

[2018-07-03 19:28] #8 closed

[2018-07-03 20:10] archanamehta commented on #9
Got the VS Code , Now when I publish I only get option for Folder and not Azure functions. Am I missing something here?

[2018-07-03 20:47] joelhulen commented on #9
Read the Before-the-lab instructions on what system requirements are. I suspect you lack the appropriate Visual Studio update version: https://github.com/Microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Serverless%20architecture.md

[2018-07-03 21:58] DawnmarieDesJardins commented on #7
Closing the issue, will email you a list of HTML scripts needed.

[2018-07-03 21:58] #7 closed

[2018-07-12 15:35] DawnmarieDesJardins commented on #9
Closing issue, completed.

[2018-07-12 15:35] #9 closed

[2018-07-17 18:56] clarenceb opened #12 "Broken links (HTTP 404) in "Help references" section of HOL step-by-step guide"
In the **Help references** section of `HOL step-by-step - Serverless architecture.md`, the following links are broken:

* Creating a function app (https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function%23create-a-function-app)
* Creating an Azure Cosmos DB account (https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-sql-api-dotnet%23create-an-azu

[2018-07-17 19:14] clarenceb opened #13 "HOL step-by-step: "Containers" in Blob Service menu should be changed to "Browse blobs""
In HOL step-by-step, **Task 1: Provision the storage account**, step 8:

*Select **Containers** under Blob Service in the menu.*

Should be:

*Select **Browse blobs** under Blob Service in the menu.*

[2018-07-20 16:13] fawohlsc opened #14 "Computer Vision Service always returns 404..."
… which can be fixed by using _"https://westeurope.api.cognitive.microsoft.com/vision**/v2.0/ocr**"_ instead of _"https://westeurope.api.cognitive.microsoft.com/vision**/v1.0**"_ as _"computerVisionApiUrl"_ in Application settings. Seems like Azure Portal shows the wrong endpoint URL... :-)

[2018-07-25 22:14] DawnmarieDesJardins commented on #14
Assigned to Joel - Please review this issue for us.
Thanks! Dawnmarie

[2018-09-25 12:19] akn9050 opened #15 "Issue in Exercise 3 task 3.2"
Needs the updated lab guide. There is lots of update in Azure.
Azure Function integration service is not showing Cosmos DB as an option of +New Output.
See the attached screenshot. Cosmos DB option is not there in the new output section.
![snag_22f97c29](https://user-images.githubusercontent.com/27498287/46013853-0e9fc780-c0eb-11e8-99dd-5e2e5210df87.png)

https://github.com/Microsoft/MCW-Serverles

[2018-10-18 09:44] akn9050 commented on #15
Any update on this

[2018-10-18 16:39] givenscj commented on #14
Updated to reference the new v2 endpoint.

[2018-10-18 16:39] #14 closed

[2018-10-18 16:39] #12 closed

[2018-10-18 16:39] #13 closed

[2018-10-18 16:46] givenscj commented on #15
Hi there,  I just ran through this and I do see Azure Cosmos DB on the Integrate tab.  I can't know for sure, and this may not help, but possibly you have an older tenant and need to enable those resources in it for cosmos db to show up?

[2018-10-25 20:39] joelhulen opened #19 "Update serverless architecture MCW"
This package is scheduled for a November update. Please fork this repo, make your updates, then reference this issue when you submit your pull request.

[2018-10-30 22:48] oyuksektepeli opened #21 "Custom topic sub error"
When i do as in lab and subscribe savePlateData and queuePlateForManualCheckup, savePlateData documents are not written to cosmos. When i subscribe to all Events it is working. queuePlateForManualCheckup has no problem. But savePlateData event not working.

[2018-11-07 17:23] DawnmarieDesJardins commented on #21
Assigning to Chris for review.

[2018-11-21 09:01] #15 closed

[2018-11-21 11:48] akn9050 opened #22 "Screenshots are very old. Need to update."
1. In [Exercise 1- Task 2.4](https://github.com/Microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-2-provision-the-function-apps) need to change screenshot for **Create Function App** blade. Now, we have to select Runtime Stack(Language) during create Function App. For TollBoothEvents function need to select **Java Script** f

[2018-11-21 12:13] hkamel opened #23 "Link to MCW in related reference section"
Let's add a link to [Microsoft/MCW](https://github.com/Microsoft/MCW) in the related reference like other workshops

![image](https://user-images.githubusercontent.com/5002831/48840556-718aa380-eda8-11e8-8180-668652ede54a.png)

[2018-11-28 16:46] adhurwit opened #24 "git project shouldn't include console app"
If you commit and push the git project to github, then you get a storage key in your github public repo

[2018-11-28 18:10] waltermyersiii commented on #24
@joelhulen?

[2018-11-28 18:11] waltermyersiii commented on #22
@DawnmarieDesJardins?

[2018-12-12 05:15] DawnmarieDesJardins commented on #23
Addressed in the Nov test/fix.  Closing issue, thank you Hosam!

[2018-12-12 05:15] #23 closed

[2018-12-12 05:48] DawnmarieDesJardins commented on #22
Hi Amit!  We just completed a test/fix on the workshop and many of the screenshots have been update.  Please keep letting us know if you find something that needs to be updated.

[2018-12-12 05:50] DawnmarieDesJardins commented on #21
Thanks Onur!  We just completed a review of this workshop with updates to the lab.  Please let us know if there's anything else you see needs updated.  We appreciate your help keeping us current.

[2018-12-12 05:50] #21 closed

[2018-12-19 15:20] GhumanNavneet commented on #22
Nothing is updated in lab. Please work on it

[2018-12-19 15:20] GhumanNavneet opened #26 "update function app"

[2018-12-19 15:21] #26 closed

[2018-12-19 15:22] GhumanNavneet opened #27 "Please work on following issues:"
In Exercise 1- Task 2.4 need to change screenshot for Create Function App blade. Now, we have to select Runtime Stack(Language) during create Function App. For TollBoothEvents function need to select Java Script for Runtime Stack.
snag_1dd9e9c5
For the second function TollBoothFunctionApp choose .NET for Runtime Stack option.
In Exercise 3- Task 1: UI for adding Event Grid Trigger is changed. Plea

[2018-12-19 18:01] DawnmarieDesJardins commented on #22
@joelhulen @givenscj
Hi gentlemen,
Not sure who's currently working on this one.  Reopening the issue, can you please verify that the lab screenshots are correct?  We just went through a test/fix so they would have been updated then, yes?

[2018-12-19 18:03] DawnmarieDesJardins commented on #24
@joelhulen
Any update?  Thank you! Dawnmarie

[2018-12-31 12:43] SahanaPrabhakar opened #28 "cosmosdb query requires a partition key in the URI"
By default when creating a cosmosdb it is required to enable partition. The provided db URI gives the following error. How do I correct this ?
2018-12-31T12:30:53.872 [Error] Critical error: One or more errors occurred.
2018-12-31T12:30:53.872 [Error] Cross partition query is required but disabled. Please set x-ms-documentdb-query-enablecrosspartition to true, specify x-ms-documentdb-partitionkey,

[2018-12-31 12:46] SahanaPrabhakar commented on #28
Added details on the issue.

[2018-12-31 16:10] SahanaPrabhakar commented on #28
Please update the code to add line FeedOptions() { enableCrossPartitionQuery } in DatabaseMethods.cs function DatabaseMethods::GetLicensePlatesToExport().

[2019-01-02 19:49] joelhulen commented on #22
@DawnmarieDesJardins Yes, they usually are updated in test/fixes. I will go through and update this week.

[2019-01-02 19:50] joelhulen commented on #24
I'll update to exclude the config. We still want the console app as part of the solution.

[2019-01-07 21:22] givenscj commented on #22
Updated in latest nov branch.

[2019-01-07 21:22] #22 closed

[2019-01-07 21:35] givenscj commented on #24
Quick fix: Added steps to tell lab actor to delete the repo after labs are completed in nov-2018-testfix.

[2019-01-07 21:35] givenscj commented on #27
Fixed in latest nov-2018-testfix.

[2019-01-07 21:35] #27 closed

[2019-01-07 22:00] givenscj commented on #28
Thanks for pointing this out.

Fixed in nov-2018-testfix branch.

[2019-01-07 22:00] #28 closed

[2019-01-08 21:44] DawnmarieDesJardins commented on #24
Closing issue, updated and merged to master

[2019-01-08 21:44] #24 closed

[2019-02-12 23:04] yeahsicy opened #30 "How to deploy the function app directly from VS"
Currently, the function app project seems a bit old at https://github.com/Microsoft/MCW-Serverless-architecture/tree/master/Hands-on%20lab/starter

If you directly deploy from VS, you will get deployment failure with below detail:
Web deployment task failed. (Web Deploy experienced a connection problem with the server and had to terminate the connection.  Contact your server administrator if the p

[2019-02-15 21:54] DawnmarieDesJardins commented on #30
Hi Jerry,
I've assigned this to one of our authors to help you out.

[2019-02-15 22:01] DawnmarieDesJardins opened #31 "March 2019 - Scheduled content update"
@ZoinerTejada @joelhulen @kylebunting
Solliance team -
This workshop is scheduled for an update in March. Please update this issue with suggested content changes. Once done, we'll assign to our SME team for review and additional feedback.

[2019-02-15 22:03] yeahsicy commented on #30
@DawnmarieDesJardins Thank you!
I guess you probably need to update your function app project which seems out of date.

[2019-02-15 22:06] DawnmarieDesJardins commented on #30
This one is scheduled for an update next month.  In the meantime, I'm willing to bet Chris will get you up and running in no time.

[2019-02-16 05:22] joelhulen commented on #30
@yeahsicy , as @DawnmarieDesJardins said, this entire MCW is scheduled for an update this coming month. It was created a year ago, several months prior to Azure Functions v2 being GA'd. That's definitely one of the updates we'll include, among others. Keep a look out for issues here pertaining to updates in the next few weeks.

[2019-02-22 16:21] joelhulen commented on #31
Here are my update suggestions:

- Update functions to v2
- Update functions to be triggered from Event Grid rather than blob storage. This will eliminate the delay of the function being triggered after an image is uploaded (wasn't available when created a year ago)

[2019-02-27 17:56] givenscj commented on #31
Only thing I'd add is make the last part utilize Azure DevOps rather than GitHub.

[2019-02-27 18:11] waltermyersiii commented on #31
I would be careful not to add too much complexity that would get away from the intent of the workshop. As much as I love Azure DevOps, if we're just using it as a repository, then what is the additional value add?

[2019-02-28 01:16] dbarkol commented on #31
How about leveraging the API Management Consumption tier to expose a GET request that will query the Cosmos store? Perhaps apply some rate-limiting as well. A use case could be that folks might want to retrieve information about their vehicles and the captured images.

[2019-02-28 01:58] soanain commented on #31
Perhaps extend this to functions on ASE. Rarely any of big accounts use standard web app as they want everything on network and go with ASE which changes a lot of things in architecture. But it may be complex initially. So can be added later in the assignment as an add on. Also to keep things simple, may be use azure SQL in place of cosmos as most the audience we get is already familiar with MSSQL

[2019-02-28 02:09] joelhulen commented on #31
@dbarkol That sounds like a good idea, especially since API Management now has the Consumption tier. If we include that in the lab (not sure if you're advocating that, or just the WDS), do you think it's necessary to go through the trouble to demonstrate the rate-limiting, or do you think just setting it up and explaining what it does is sufficient?

[2019-02-28 02:13] joelhulen commented on #31
@soanain I agree with what you're saying. However, we try to avoid having an ASE in any labs, due to cost, the time it takes to provision, and other complexities. If you are advocating that for the lab, then we would need to justify its use case. For automated processing of images, I'm not sure it makes sense. If there are external users calling the functions directly, then we could work a story a

[2019-02-28 02:18] givenscj commented on #31
I agree with Joel, ASE costs are still too high for these labs.  It makes sense for the security MCW, but in my opinion not for this one.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joel Hulen <notifications@github.com>
Sent: Wednesday, February 27, 2019 6:13:38 PM
To: Microsoft/MCW-Serverless-architecture
Cc: Chris Givens; Assign
Subject: Re: [Microsoft/MCW-

[2019-02-28 02:58] dbarkol commented on #31
@joelhulen , rate-limiting isn't necessary, good point. As long as they walk way with learning about the consumption tier, then it's a win.

[2019-02-28 03:10] joelhulen commented on #31
@dbarkol Do you think this scenario with APIM should just be added to the WDS, or do you also think it should be added to the lab? Just thinking about overall time to complete the lab. Right now, it takes roughly four hours to complete, which is our target. Do you think it's worthwhile adding to the lab, given the number of extra steps that will be involved? Just curious if the trade-off of time i

[2019-02-28 03:19] dbarkol commented on #31
The lab is already very time-intensive. The WDS is a perfect showcase for it, so that should be more than enough.

[2019-03-05 05:22] DawnmarieDesJardins commented on #31
@givenscj @joelhulen @ZoinerTejada
Solliance team - Please move forward with the update with your recommendations and feedback given. Thanks!

[2019-03-06 17:14] joelhulen commented on #31
@DawnmarieDesJardins I'll be working on this and will update this issue when I'm ready for a review.

[2019-03-08 17:37] nikkiconley commented on #31
Task 4 : Provision the Azure Cosmos DB account
The screen shots are out of date and the partition kay (required) is not in the instructions

[2019-03-09 16:09] joelhulen commented on #31
@nikkiconley Thanks. That will be updated as well. The Cosmos DB UI moved away from offering a "Fixed" storage capacity where you did not need to specify a partition key. Now you do need to specify one, which is recommended anyway.

[2019-03-14 18:48] joelhulen commented on #31
@DawnmarieDesJardins I've submitted a pull request that addresses the requested updates. Please let the SMEs know the changes are ready for review.

[2019-03-18 09:05] wely opened #33 "Exercise 3, Task 7 - Regarding Event Grid"
Having the following error message upon click save instructed by the lab.
![image](https://user-images.githubusercontent.com/1658657/54518733-f923a000-499f-11e9-8b06-eb3be0cc51b1.png)

[2019-03-18 21:26] joelhulen commented on #33
@wely , thanks for your feedback. I have recently updated this MCW and have submitted a pull request for review. During the update, I updated many screens you go through to configure the services, as much has changed recently on Azure, and have also made a lot of modifications to the code. There are no such issues in the latest update. I don't know if this is something you're going through on your

[2019-03-27 03:38] MarchingBug opened #34 "TollBothFunctionApp BlobTrigger not firing"
Files are uploaded to the blob storage but function Process Image is not triggered, I tried to update Microsoft.Azure.Webjobs to version 3.0.0 as documentation indicates, I get this error

![serverlesserror](https://user-images.githubusercontent.com/11653125/55048862-21567300-5020-11e9-9c6d-81435be6c8fa.png)

Thank you in advance for all your help.

[2019-03-27 06:51] joelhulen commented on #34
I have a PR pending containing updates that fixes this and adds new features, including moving to Functions v2.

[2019-03-27 06:51] #34 closed

[2019-04-01 18:43] nikkiconley commented on #31
When will the updates be posted?

[2019-04-01 19:38] joelhulen commented on #31
@nikkiconley It should be any day. The changes are complete and they have been reviewed by SMEs. We're just waiting on the final QC (quality control) pass before the merge.

[2019-04-03 23:47] DawnmarieDesJardins commented on #30
Hello!  Closing this issue as it was addressed in the recent update.

[2019-04-03 23:47] #30 closed

[2019-04-03 23:47] DawnmarieDesJardins commented on #31
Hello!  Closing this issue with the recent update.

[2019-04-03 23:47] #31 closed

[2019-04-03 23:48] DawnmarieDesJardins commented on #33
Hello!  Closing this issue as it was addressed in the recent update.

[2019-04-03 23:48] #33 closed

[2019-04-10 10:25] cferrara opened #35 "Misleading HOL step-by-step instruction"
Bullets "Task 2: Finish the ProcessImage function" are out of order.
In addition it sould be added a note clarifying that TODO 5,6,7 will be addressed later in the guide.
Many thanks

[2019-04-15 21:57] DawnmarieDesJardins commented on #35
@joelhulen
Hey Joel, please review and advise.
Thanks, Dawnamrie

[2019-04-17 21:35] DawnmarieDesJardins opened #37 "Need to update dates in student guide"
Student guide dates need updating.  Will create and submit pull request.

[2019-04-17 21:43] DawnmarieDesJardins commented on #37
Issue resolved in latest merge, closing issue.

[2019-04-17 21:43] #37 closed

[2019-04-24 18:59] #35 closed

[2019-08-13 16:00] Abhishekpathania01 opened #41 "Creation of Second Function App should use "node.js" Runtime Stack instead of Java script"
Exercise 1 [Task 2](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-2-provision-the-function-apps) while creating the second Function App Lab guide says select **java script** for Runtime Stack but Currently we see that javascript is not available in Azure Portal, avaiable is only **java** but if we're s

[2019-08-13 16:12] DawnmarieDesJardins commented on #41
@givenscj @ZoinerTejada
Hello!  Please review and advise.  Workshop is scheduled for 8/15 delivery.

[2019-08-13 18:47] Abhishekpathania01 commented on #41
Also, Please review all steps for Ex 3 [Task 1](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-1-create-function-to-save-license-plate-data-to-azure-cosmos-db) as there is miss-match of steps/screenshots.

Such as:

Task 1:
1. Step 4; screenshot given for (a) and (b) should be interchanged, as the one w

[2019-08-14 15:38] #41 closed

[2019-08-15 20:30] DawnmarieDesJardins opened #44 "September 2019 - Content update"
This MCW is scheduled for content update.
Solliance - please review current content and recommended updates for SME review.

[2019-08-20 02:43] IshamMohamed commented on #44
[This image](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/media/saveplatedata-eg-sub.png) needs to be altered. There is no more "Subscribe to all event types" - if you just leave the event types to null, it does the same job.

[2019-09-20 12:22] sandrich opened #46 "Missing resource group"
Hi

The first step is to create a Storage account which require a resource group. But that is not part of the steps.

[2019-09-20 13:50] joelhulen commented on #46
@sandrich The step to create the resource group is in the _Before the HOL_ guide. Did you complete that guide first? https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Serverless%20architecture.md

[2019-09-26 16:28] #46 closed

[2019-10-09 05:41] #44 closed

[2019-10-16 13:33] Gvashi opened #50 "Uploadimage.exe file is missing"
Exercise 4:- Task 3 :- step 5
Showing an error , i.e file name "Uploadimage.exe" is missing.
I have attached  screenshot  for reference
![001](https://user-images.githubusercontent.com/53901647/66924037-8965b880-f047-11e9-8659-9b3765907b21.PNG)

[2019-10-16 14:07] joelhulen commented on #50
Please follow the instructions in the before-the hands-on lab guide to extract the files to the proper location: <https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20Serverless%20architecture.md#task-6-download-and-explore-the-tollbooth-starter-solution>

One issue you'll encounter is errors about file name length due to the number of embedd

[2019-10-16 15:17] joelhulen commented on #50
OK, I will look into it soon.

[2019-10-16 15:48] joelhulen commented on #50
@Gvashi I have updated the code for the UploadImage project. Can you please download the latest version and try again?

[2019-10-18 00:59] joelhulen commented on #50
@Gvashi, can you please verify everything works now? I will close this ticket in 24 hours if I've not heard back from you. Thanks.

[2019-10-24 08:07] PrernaNagori09 opened #53 "Issue on Exercise 1 (Task 1) and Exercise 2 (Task 4)"
1.  In [Exercise 1-Task 1](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-1-provision-the-storage-account) Issue with Storage name, Storage name have to be in small letters in document you give name as (tollboothstorageINIT).

2. In [Exercise 2-Task 4](https://github.com/microsoft/MCW-Serverless-archite

[2019-10-28 17:17] #50 closed

[2019-11-05 21:26] timahenning commented on #53
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/  We will review your issue soon.

Tim

[2019-11-19 22:07] inatale opened #54 "StatusCode: 404: 'Resource Not Found'. Wrong Vision API OCR URI."
Exercise 2->Task 4->Step 7.
uriBase = Environment.GetEnvironmentVariable("computerVisionApiUrl"); is wrong (response is StatusCode: 404: 'Resource Not Found'.)

var uriBase = Environment.GetEnvironmentVariable("computerVisionApiUrl") + "vision/v2.1/ocr";

It should contain also "vision/v2.1/ocr".

[2019-11-21 19:15] timahenning commented on #54
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/

Having specific lab section references and screenshots will help expedite support. We will review your issue soon.

Tim

[2019-11-22 02:53] joelhulen commented on #54
@inatale Thank you for submitting an issue. However, users are instructed to append `vision/2.0/ocr` at the end of the Vision API URL within Exercise 2, Task 1, Step 4: https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-1-configure-application-settings

Closing, as this is already addressed.

[2019-11-22 02:53] #54 closed

[2019-11-22 03:06] #53 closed

[2019-11-22 15:08] inatale commented on #54
Oops. Yes, my fault. Thanks.

[2019-11-22 15:46] mimuta opened #56 "Couldn't publish to function app from VS code (mac)"
On VS Code (Mac) publish didn't work.

1. dotnet restore and dotnet build worked, as well as build from VS Code
2. But deploy didn't work:

![image](https://user-images.githubusercontent.com/16953363/69439566-85643f00-0d47-11ea-8893-9a2a578c4933.png)

3. I also tried from Visual Studio on Mac (not code) but have the same error.

I tried to publish 3 other apps and working ok.

Possible something w

[2019-11-23 06:11] frankrutz opened #57 "Automation"
Thanks to the authors for this intro to Azure serverless architecture.

From a "cloud engineering" perspective, it would be nice to see this setup automated so it could live in a "gitops-spirit" environment.

I will work on this a bit and hope to have a first version by the end of the year.
Never really worked with ARM, so this will take some time.
And it's a sparetime project to me.

Thanks again

[2019-11-24 14:59] timahenning commented on #57
@frankrutz Thank you for the kind words.  It is not often we receive thanks.

Tim

[2019-11-25 18:53] DawnmarieDesJardins commented on #57
@waltermyersiii
FYI - spreading the well deserved kudos and kind words.  :)

[2019-12-03 21:07] DawnmarieDesJardins commented on #56
@joelhulen
Hey Joel, any update on this one?
Thanks! Dawnmarie

[2019-12-03 21:08] DawnmarieDesJardins opened #58 "January 2020 - content update"
This workshop is scheduled for a January 2020 content update. Please review open issue #56 and provide additional recommended changes for SME review.

[2019-12-04 05:33] joelhulen commented on #56
@DawnmarieDesJardins
I cannot reproduce this problem on a Windows machine. I am working on getting my hands on a Mac to reproduce the issue. The error message shown in the screenshot isn't very helpful, unfortunately.

[2019-12-04 23:13] DawnmarieDesJardins commented on #56
@mimuta -
Hello.  Are you still unable to complete the lab?  Can you please provide us with some additional information?  The screenshot you provided does not give our author enough information to troubleshoot.  Thank you.

[2019-12-09 18:49] joelhulen commented on #56
@mimuta - Can you please update us with a status on this? Are you still having this issue?

[2019-12-16 18:43] DawnmarieDesJardins commented on #56
Closing issue as no further response from field.  Will reopen if needed.

[2019-12-16 18:43] #56 closed

[2020-01-13 18:55] DawnmarieDesJardins commented on #58
January update postponed, closing issue.

[2020-01-13 18:55] #58 closed

[2020-05-08 23:52] SeeratArora opened #63 "Images to be updated in the lab guide"
[Exercise 1: Task 2:](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-2-provision-the-function-apps) Step 10: Here **Version** needs to be added as shown below:

![image](https://user-images.githubusercontent.com/50323628/81439476-127f4100-918c-11ea-9627-3c797116dc4d.png)

[Exercise 1: Task 3:](https://g

[2020-05-18 18:35] DawnmarieDesJardins commented on #63
@SeeratArora
Thanks for bringing this to our attention.  This workshop is scheduled for a June test/fix and we'll be updating images at that time.

[2020-05-18 21:07] timahenning opened #64 "June 2020 Update Suggestions"

[2020-05-19 18:54] joelhulen commented on #64
I recommend the following updates. Please provide feedback on the following:

1. Update all images used in the lab to correspond with the latest portal UI changes.
2. Update NuGet packages and SDKs to latest versions.
3. Update to Azure Functions 3.x runtime and .NET Core 3.1.
4. Add Azure DevOps to architecture diagram.

[2020-05-19 18:58] waltermyersiii commented on #64
Looks good, Joel.

[2020-05-23 10:23] SeeratArora opened #65 "Issue regarding Function App"
[Exercise 3: Task 4:](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-4-create-function-to-save-manual-verification-info-to-azure-cosmos-db) Step 7: On saving the code it shows the following log.

![image](https://user-images.githubusercontent.com/50323628/82727742-fc37c000-9d09-11ea-8bbb-62339e4b4420.pn

[2020-05-29 22:33] DawnmarieDesJardins commented on #64
Closing issue.  This update has been changed to a June test/fix.

[2020-05-29 22:33] #64 closed

[2020-06-01 09:24] akn9050 commented on #65
Any update on this please?

[2020-06-01 14:28] joelhulen commented on #65
@akn9050 the plan was to address this in the upcoming MCW update, once the plan was approved. However, I just learned that we will now do a test/fix instead of an update this time around. That said, I will address this sooner rather than later. Expect this and other issues to be resolved in the next week or two.

[2020-06-04 12:47] andresu13 opened #66 "Outdated workshop?"
Hi, I am planning to deliver this workshop to one of my customers next week but it seems that some of the instructions and the screenshots are outdated - they no longer reflect what the portal looks like or the steps that need to be followed to accomplish certain tasks. So far I have been able to figure out most tasks but I got stuck on Exercise 2 - Task 5 (Adding EventGrid Subscription to the Fun

[2020-06-04 13:41] joelhulen commented on #66
This MCW is due for a test/fix this month. I'll update the instructions prior to your event next week. I'll be starting work on it today.

[2020-06-04 14:17] andresu13 commented on #66
Thanks a lot Joel. Looking forward to trying out the updated lab once you
are done :)

On Thu, Jun 4, 2020 at 9:42 AM Joel Hulen <notifications@github.com> wrote:

[2020-06-05 22:34] #63 closed

[2020-06-05 22:34] #65 closed

[2020-06-05 22:34] #66 closed

[2020-06-06 02:14] akn9050 opened #68 "UI needs to be updated for function app publishing from visual studio"
UI needs to be updated for function app publishing from visual studio, UI experience got changed when publishing function app from visual studio.

Ex 3 task 5 step 3 :

![image](https://user-images.githubusercontent.com/27498287/83933641-1375b380-a7c8-11ea-9b37-713ad679e845.png)

![image](https://user-images.githubusercontent.com/27498287/83933645-225c6600-a7c8-11ea-882c-8dfefbd0e56b.png)

![image

[2020-06-06 14:09] joelhulen commented on #68
@akn9050 what version of Visual Studio are you using? I have VS 2019 with the latest updates and the publishing screens I see match what's in the lab guide. I do not see the screens you posted above.

[2020-06-06 16:29] akn9050 commented on #68
I used latest VS 2019 vm, and I tried this Yesterday.
            "publisher": "microsoftvisualstudio",
            "offer": "visualstudio2019latest",
            "sku": "vs-2019-comm-latest-ws2019",
            "version": "latest"

[2020-06-08 15:22] #68 closed

[2020-06-09 18:35] SeeratArora opened #70 "Exercise 2: Task 5:Not able to add Event Grid Subscription"
[Exercise 2: Task 5:](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-5-publish-the-function-app-from-visual-studio) Step 11: The Integration flow is not similar for me as it is in the lab guide. Also there's a warning highlighted in the image below. Not sure why the warning message is there.

![image](h

[2020-06-09 21:31] joelhulen commented on #70
@SeeratArora, when you look at your list of functions in the Function App, what do you see? The trigger type for `ProcessImage` should be **EventGrid**, as shown here:

![image](https://user-images.githubusercontent.com/5950304/84203170-f9adc800-aa76-11ea-9e5c-016dcce282a0.png)

[2020-06-15 18:52] timahenning commented on #70
@SeeratArora Did you have a chance to review Joel's suggestion?

[2020-06-15 20:16] andresu13 opened #71 "CosmosDB Processed Table Empty"
There seems to be an issue with the lab. I have tried executing it multiple times and I always end up with an empty "Processed" table - no items at all. Can someone review the steps to make sure nothing is missing and/or ping me internally to discuss this? Thank you.

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/8649312/84701777-9662e080-af23-11ea-9278-92c875bd9503.png)

[2020-06-15 20:53] joelhulen commented on #71
@andresu13 I replied separately via email. I can connect with you directly and see if I can figure out why you are seeing this issue. My first thought is perhaps the Event Grid events are not triggering your functions. That's the first thing I recommend checking on your end.

[2020-06-15 21:28] SeeratArora commented on #70
Hi @timahenning
I just tried going through the lab again and this time I didn't face this issue. I'm now able to create event subscription.

Thanks.

[2020-06-15 23:33] timahenning commented on #70
That is great news.  We can reopen this issue if necessary.

[2020-06-15 23:33] #70 closed

[2020-06-19 14:12] joelhulen commented on #71
We were able to resolve this issue by stepping through @andresu13's environment to find an incorrectly named Event Grid Topic event type filter name which prevented data with successful OCR processing to be routed to the functions that save this data in Cosmos DB.

[2020-06-19 14:12] #71 closed

[2020-07-20 17:57] bala1074 opened #72 "HOL Exercise 4: Task 3: Step 13: Not able to run UploadImages project"
Followed exact same steps mentioned on HOL: https://cloudworkshop.blob.core.windows.net/serverless-architecture/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.html#serverless-architecture-hands-on-lab-step-by-step

Hands-On Lab Exercise 4: Task 3: Step 13: Not able to run UploadImages project, getting errors+warnings.
![ws_error](https://user-images.githubusercontent.com/1266942

[2020-07-20 18:18] bala1074 commented on #72
errors at
using Microsoft.Azure.Storage;
using Microsoft.Azure.Storage.Blob;
using Microsoft.Azure.Storage.DataMovement;

CloudStorageAccount and TransferManager

[2020-07-20 19:41] joelhulen commented on #72
Are you able to right-click the `TollBooth` solution in Visual Studio's Solution Explorer, then select "Clean Solution", then "Rebuild Solution"? What happens when you do this? If you still see these errors, please paste the contents of the `packages.config` file from within the `UploadImages` project here.

[2020-07-21 05:48] bala1074 commented on #72
@joelhulen I tried, but still facing the same errors.
packages.config for UploadImages
`<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.0.1" targetFramework="net461" />
  <package id="Microsoft.Azure.Storage.Common" version="11.0.1" targetFramework="n

[2020-07-21 14:48] joelhulen commented on #72
That looks correct. I just pulled a fresh copy of the repo down to test and it worked fine.

Do you have .NET Framework 4.61 or greater installed on your machine? <https://www.microsoft.com/net/download/windows>

[2020-07-21 15:38] bala1074 commented on #72
@joelhulen Please provide me the personal email, I'll share the RDP VM settings

[2020-07-21 15:39] bala1074 commented on #72
or we can have a quick call, please share me the link

[2020-07-21 16:58] joelhulen commented on #72
@bala1074 I just emailed you.

[2020-07-21 17:14] bala1074 commented on #72
@joelhulen I sent to your mail, please have a look. thank you @joelhulen

[2020-07-21 18:00] joelhulen commented on #72
I've figured out the problem.

Per the lab instructions, you must make sure you extract the files to `C:\ServerlessMCW`. Since you extracted the files to the Downloads folder instead (`C:\Users\workshop\Downloads\`), the file paths were too long for the project to successfully run, as seen in the following error in Visual Studio:

`Error occurred while restoring NuGet packages: The specified path,

[2020-07-21 18:04] bala1074 commented on #72
thank you @joelhulen

[2020-07-21 18:04] #72 closed

[2020-07-21 18:25] bala1074 opened #73 "HOL Exercise 5: Not able to see license plates data in Cosmos DB"
Followed exact same steps mentioned on HOL: https://cloudworkshop.blob.core.windows.net/serverless-architecture/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.html#serverless-architecture-hands-on-lab-step-by-**step

**Application Map**
![ws](https://user-images.githubusercontent.com/12669425/88092010-73c08900-cbad-11ea-9483-fc475c056528.png)

**Cosmos DB**
![cdb](https://user-i

[2020-07-21 21:27] joelhulen commented on #73
There are any number of reasons this could happen. Most often, it’s because someone missed a step or mis-typed the Event Grid topic filter name. Check everything you’ve had to type in as values, especially for the Azure resources. Make sure you;’ve completed the code steps. Double-check all the steps to make sure none were missed, especially when it comes to the Azure Functions and linked services

[2020-07-24 10:15] joelhulen commented on #73
Were you able to figure this out?

[2020-07-24 10:20] bala1074 opened #76 "HOL: Azure Key-Valut service references are not working"
![Screenshot from 2020-07-21 15-39-28](https://user-images.githubusercontent.com/12669425/88382076-5a922500-cdc5-11ea-95d7-0773282d66fd.png)

[2020-07-24 10:23] bala1074 commented on #76
I provided key-vault access to FunctionApp, so I temporarily fixed by hardcode the values at Function App. It works.

[2020-07-24 10:27] bala1074 opened #77 "HOL: Not able to see the generated csv in storage"

[2020-07-24 10:33] bala1074 commented on #77
Continues deployment for Function App was not deploying the changes, but showing all commits at Azure Deployment Center, So I published manually with the latest changes then it's started working.

[2020-07-24 10:38] bala1074 commented on #73
yes, CosmosDB IP changed to other, I added new cosmosDB IP to the firewall, It's working.

[2020-07-24 13:45] #73 closed

[2020-07-24 17:56] joelhulen commented on #76
Please paste your string with the Cosmos DB path so I can validate you are using the proper format.

[2020-07-24 17:57] joelhulen commented on #77
Can you please paste a screenshot of the Deployment Center?

[2020-07-24 18:23] timahenning commented on #76
Thank you for reporting this issue.  We are working to resolve your issue within the support time frame defined in https://microsoftcloudworkshop.com/.  If you have a workshop delivery coming up soon, leave a comment with details and we will try to resolve the issue sooner.  In the meantime, verify all task instructions have been followed and Azure environment is still valid.

Tim

[2020-08-03 14:32] timahenning commented on #77
@bala1074 Hi, can you paste the screenshot into this issue?  Otherwise, I will have to close the issue.

Thanks,

Tim

[2020-08-03 14:34] timahenning commented on #76
@bala1074 Hi, Joel is looking for more debug information in order to assist.  Can you provide the string he is looking for?  Otherwise, we will have to close this issue.

Thanks,

Tim

[2020-08-03 15:05] bala1074 commented on #77
Sorry, I cleaned up the workshop resources in Azure and Don't have screenshots. So, I will close this issue.

[2020-08-03 15:05] #77 closed

[2020-08-03 15:07] bala1074 commented on #76
Sorry, I cleaned up the workshop resources in Azure and Don't have screenshots. So, I will close this issue.

[2020-08-03 15:07] #76 closed

[2020-08-05 18:49] joelhulen opened #78 "September 2020 update suggestions"
I recommend the following updates. Please provide feedback on the following:

- Update all images used in the lab to correspond with the latest portal UI changes
- Update NuGet packages and SDKs to latest versions
- Update to Azure Functions 3.x runtime and .NET Core 3.1
- Add GitHub Actions to the WDS and architecture diagram
- Add Durable Functions to WDS and use case scenario

[2020-08-31 17:09] DawnmarieDesJardins commented on #78
Closing issue, update postponed

[2020-08-31 17:09] #78 closed

[2020-09-15 14:49] eaelmoneem1 opened #79 "The OCR is not reading the plate number"
Does anybody know why the ocr is not reading the plate number from the same pics attached to the project files?
all the pictures are moving to NeedsManualReview.

[2020-09-16 07:58] eaelmoneem1 commented on #79
Additional update :
I have reviewed all the configurations in the portal and in the code. Also, I have modified this part manually and removed the else condition. Just to test that the event for "savePlateData" is working fine, and I was able to see data in CosmosDB "Processed" document but again with empty "licensePlateText" :

if (data.LicensePlateFound)
            {
                // TODO 3:

[2020-09-21 09:58] eaelmoneem1 commented on #79
@joelhulen @timahenning  Sorry guys for bothering you , But do you have any idea what could be the reason for the error up?
I have tried several things but with no luck

[2020-09-21 13:07] joelhulen commented on #79
@eaelmoneem1 Sorry, I was away on vacation. Cold you please tell me what the value of your `computerVisionApiUrl` app setting is?

[2020-09-21 14:03] eaelmoneem1 commented on #79
Hi @joelhulen NP, thanks for looking into this.
The value for computerVisionApiUrl is: https://tollboothvisioninitlab.cognitiveservices.azure.com/vision/v2.0/ocr added in the Azure function

[2020-09-21 14:30] joelhulen commented on #79
Thank you. When you look at your other App Settings, do you see the indicator that shows that the Key Vault reference was successfully retrieved? This will be for `computerVisionApiKey`, `eventGridTopicKey`, `cosmosDBAuthorizationKey`, and `blobStorageConnection`.

[2020-09-21 14:45] eaelmoneem1 commented on #79
I'm not sure exactly from where I can see this, But I think that all the connections are correct because  I have modified this part manually and removed the else condition. Just to test that the event for "savePlateData" is working fine, and I was able to see data in CosmosDB "Processed" document but again with empty "licensePlateText" :

if (data.LicensePlateFound)
            {
                /

[2020-09-21 14:58] joelhulen commented on #79
Can you please update the `GetImageHttpContent` method of the `FindLicensePlateText.cs` file (https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/starter/TollBooth/TollBooth/FindLicensePlateText.cs#L103) by replacing `content.Headers.ContentType = new MediaTypeHeaderValue("application/octet-stream");` with `content.Headers.ContentType = new MediaTypeHeaderValue("app

[2020-09-22 06:39] eaelmoneem1 commented on #79
This is strange, I deleted the function from the portal and then I made the changes and published it.
But I keep receiving the same error :
**Critical error: No MediaTypeFormatter is available to read an object of type 'OCRResult' from content with media type 'application/octet-stream'.**

I have tried (application/json) & (text/plain)

[2020-09-24 08:50] eaelmoneem1 commented on #79
The issue has been resolved. The problem was in one of the KeyVault keys.
Thanks for your help

[2020-09-24 08:50] #79 closed

[2020-11-12 11:55] MarcvanHouten opened #80 "Minor: screen capture of creating a storage account is not up to date anymore"
at Task 1: Provision the storage account in section Exercise 1: Azure data, storage, and serverless environment setup the screen caputre of step 4.g. doesn't reassemble the current UI in the Azure Portal anymore. The end user has to select the Hot or Cold tier at a different place than shown in the screen capture.

[2020-11-16 10:33] MarcvanHouten opened #81 "Enabling Application Insights experience changed"
Exercise 4. Task 3.  Turn on Application Insights; the experiences changed a bit for users:

1. At Task 3 step 2 the application insights is enabled automatically. So this step is not required anymore
2. at Task 3, step 5, if you select Turn on Application Insights on the Function that ends with Events the user gets the option to create a new Application Insights instance or select a current one.

[2020-11-24 02:04] rajredd opened #83 "Could not build tollbooth project from VS."
I have installed Visual Studio 2019 community 16.8.2 version and dotnet 5.0.1. I was not able to build tollbooth project from VS.

see the errors from the screen shot.

![image](https://user-images.githubusercontent.com/37375319/100036601-84d50d00-2dce-11eb-8219-ffe4fc3a6d1e.png)

![image](https://user-images.githubusercontent.com/37375319/100036636-928a9280-2dce-11eb-8950-34a73d3e6fee.png)

the l

[2020-11-24 04:15] rajredd opened #84 "VS 2019 includes a new Git tool. Instructions in Exercise7 may need to be updated."
https://docs.microsoft.com/en-us/azure/devops/repos/git/pushing?view=azure-devops&tabs=visual-studio

Visual Studio 2019 now includes a new Git tool that provides an improved experience when connecting to a Git repository.

Exercise 7: Configure continuous deployment for your Function App

Task 3: Finish your ExportLicensePlates function code and push changes to GitHub to trigger deployment

10. R

[2020-11-27 22:50] joelhulen commented on #83
You must install .NET Core 3.1, per the pre-requisites. The TollBooth.cs project has `<TargetFramework>netcoreapp3.1</TargetFramework>` set, denoting that you must have .NET Core 3.1 installed on your machine to successfully build.

Please try this out and let us know if it works.

[2020-11-27 23:47] #80 closed

[2020-11-27 23:47] #81 closed

[2020-11-27 23:47] #84 closed

[2020-11-28 13:44] rajredd commented on #83
The issue did not seem to be related to the installation of .NET Core 3.1. My system has both 3.1 and 5.0 versions installed. After read this link  'https://docs.microsoft.com/en-us/dotnet/core/install/remove-runtime-sdk-versions?pivots=os-windows' ; I removed 'NuGet fallback folder' under 'C:\Program Files\dotnet\sdk'; build was successful now. :-)

[2020-11-28 13:44] #83 closed

[2021-01-07 19:57] tyeth commented on #57
Hey all, thanks from the UK to the authors for this guide too. Just done this one to refresh a few things and tie a couple together. I would be keen to see the ARM template versions / cli versions too, but mostly I've realised the portal is easiest to create things with and then template based on them.

[2021-01-28 12:25] raphasi opened #86 "Data is not visible in Cosmos DB"
Hello, first I would like to thank you for the laboratory created, rich in details and technologies, a great job. I followed the step-by-step exactly as described (I even did it twice from scratch), however, the data is not appearing in Cosmos DB, the image files appear inside my Blob, but not in DB. Do you have any idea what I might be doing wrong? I know that the environment has many details, bu

[2021-01-28 12:37] joelhulen commented on #86
Thank you @raphasi!

Usually when this happens, it has to do with the Event Grid configuration. Please verify that the source code for the .NET function app is sending the events correctly, then make sure that the Event Grid subscription on the Node.js function app side is properly configured to monitor and process successful and failed events. When you open App Insights, do you see the functions

[2021-01-28 13:17] raphasi commented on #86
Thanks @joelhulen  for the quick response.

Whenever possible, use the same name in the Functions and Event Grid settings. In the code used in VS is it necessary to make any changes if I am using the same resource names? Did not make altered changes, just published and had no error return.

When uploading images, validate an error in Application Insights "cannot find function: 'ProcessImage', avai

[2021-01-28 13:46] raphasi commented on #86
@joelhulen

I just reviewed every step by step and saw that I didn't change the code in Visual Studio - TODO 1, 2, 3 and 4.
I am going to recreate the LAB and I believe it will solve my problem.

Thank you very much

[2021-01-28 14:21] joelhulen commented on #86
That is your problem then. The function is not sending the Event Grid event for the other functions to use to update Cosmos DB. Please let me know if you get it working.

[2021-01-29 02:13] #86 closed

[2021-01-29 02:14] raphasi commented on #86
Thanks for support @joelhulen!

[2021-01-29 19:53] kylebunting opened #87 "March 2021 update suggestions"
I recommend the following updates. Please provide feedback on the following:

WDS
- Add discussion of durable functions and the premium tier of Azure Functions under the license plate processing using serverless components section of the preferred solution (question 3).
	- Also include a mention under the checklist of preferred objection handling (question 2).
- Change recommendation for storage t

[2021-02-02 22:16] DawnmarieDesJardins commented on #87
Feedback received via email:
Instead of Durable Functions, I would rather suggest to go little deeper on few scenarios. Examples:
1.	Some connectors in Logic Apps ( e.g. O365 ) and highlight how identity/authorization becomes so much more simpler in Logic Apps.
2.	Functions – something on binding
3.	Is there something we can add to highlight the changes we have done on cold start – as as objection

[2021-02-02 22:49] DawnmarieDesJardins commented on #87
Additional email feedback:
I agree we should add mentioning the premium tier of Azure functions in the dialog for question 3 replacing App service.

As far as bindings, it looks like there is mention of two key bindings, Cosmos and Blob Storage. Mentioning of event grid binding could be added as well.

If we can fit in Durable Functions in the WDS and it feels natural it would be great to mention

[2021-02-10 12:39] tejaswini972 opened #88 "Instruction and Screenshot Update"
[Exercise1 Task1](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-1-provision-the-storage-account)

**Step 7** : Instruction and Screenshot Update

On the Storage account blade, select Access Keys, under Settings in the menu. Then on the Access keys blade, click on **Show Keys** then select the Click to

[2021-02-12 03:03] timahenning commented on #88
Hi @tejaswini972,

This MCW is going through an update.  We will review your listed items during the update.

Thanks,

Tim

[2021-04-01 20:35] DawnmarieDesJardins commented on #88
Closing issue as resolved with merge of PR #89

[2021-04-01 20:35] #88 closed

[2021-04-01 20:35] DawnmarieDesJardins commented on #87
Closing issue with merge of PR #89

[2021-04-01 20:35] #87 closed

[2021-04-02 15:31] DawnmarieDesJardins commented on #57
Closing issue as resolved with merge of PR #89

[2021-04-02 15:31] #57 closed

[2021-05-07 12:17] SeeratArora opened #90 "Exercise 2: Task 1: Step 4: Templates not available in TollBoothEvent Function App"
Hi @DawnmarieDesJardins,

Can you please help here? 12th May is the Prod Lab delivery.

Getting issues while performing the following section of the Lab:

[Exercise 2: Task 1:](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-1-create-a-function-to-save-license-plate-data-to-azure-cosmos-db) Step 4: As pe

[2021-05-10 06:40] SeeratArora commented on #90
Hi @DawnmarieDesJardins, can we please have an update on this?

[2021-05-10 15:08] daronyondem commented on #90
Hi @SeeratArora,

I'm not able to reproduce. This is what I see when I create a new function app set to run NodeJS code.

![image](https://user-images.githubusercontent.com/2984187/117681101-6f0ba680-b1ba-11eb-87d0-4c743459e066.png)

- Where does the `Learn more` link lead to? Can you share it?
- Additionally, can you try to create a brand new function app set to run NodeJS and try creating a new

[2021-05-11 08:21] SeeratArora commented on #90
Hi @daronyondem,

We will try the cases you stated, and will get back to you.

Thanks!

[2021-05-13 12:15] riwasa commented on #90
I ran this lab yesterday, and had two students also run into this issue. After deploying from Visual Studio, when they viewed either the TollBoothFunctions or the TollBoothEvents function apps, in both cases they saw the ProcessImage and ExportLicensePlates functions, and when they tried to create a new function in TollBoothEvents they did not see Event Grid as a trigger option.

I thought they mi

[2021-05-13 12:26] timahenning commented on #90
Hi @riwasa,

Sounds like this might be a difficult issue to reproduce.  In the short term, we are going to close this issue.  If you are able to successfully reproduce the problem, we can re-open the issue with the additional information to resolve the problem.

Tim

[2021-05-13 12:48] riwasa opened #91 "Logic App Cannot convert undefined or null to object error"
When opening the Logic App in the portal, the following error is shown:

![LogicApp](https://user-images.githubusercontent.com/8047495/118127270-781d9300-b3c7-11eb-8236-665aa9028f62.png)

I can consistently reproduce this when using the ARM template out of this repo. I believe the problem is with the Logic App definition. The current ARM template has the following:

`
{
      "name": "[variables('

[2021-05-13 12:55] riwasa opened #92 "Cosmos DB collections cannot be viewed in the portal"
The definition of the Cosmos DB account in the ARM template includes the following:

`
"networkAclBypass": "AzureServices",
"publicNetworkAccess": "Disabled"
`

This causes an issue in the portal with viewing collections even after a local client IP address is added to the firewall.

The following error comes up on the overview blade:

![CosmosDB04](https://user-images.githubusercontent.com/804749

[2021-05-13 12:58] riwasa commented on #90
For reference in case anyone comes across the issue and is searching for a solution, simply delete the TollBoothEvents function app (NOT the TollBoothFunctions function app), then create a new Node.js function app with the same name (TollBoothEvents-<prefix>) and then follow the lab instructions as written. Since TollBoothEvents doesn't contain any other special configuration settings set up by th

[2021-05-14 12:33] daronyondem commented on #92
Hi @riwasa

There is something wrong with the propagation of the firewall settings. The [suggested maximum wait time is 15 minutes](https://docs.microsoft.com/bs-latn-ba/azure/cosmos-db/troubleshoot-forbidden). However, I still had the issue after 60 minutes of wait. I will investigate this with the product team before heading over and removing the firewall settings from the CosmosDB account in th

[2021-05-14 12:53] riwasa commented on #92
Thanks @daronyondem. FYI, I've got a Cosmos DB account that was created on Wednesday that is still showing the issue.

[2021-05-14 12:56] daronyondem commented on #91
I was able to reproduce. Thanks for the fix @riwasa

[2021-05-14 12:56] #91 closed

[2021-05-15 19:13] #92 closed

[2021-05-17 05:51] SeeratArora commented on #90
Hi @riwasa,

We had the same issue again i.e., while adding funtion to TollBoothEvent function app, Event grid trigger template is not available under templates.

We can provide you a fresh environment so that you can test it from the start and review it or else we can reproduce the issue and provide you that environment.

Please let us know which of these will work for you.

Thanks

[2021-05-24 10:24] sumitmalik51 commented on #90
Hello Tim, the issue is resolved as reported on Mail, we are closing the issue thanks.

[2021-05-24 10:25] #90 closed

[2021-08-31 18:39] ricardocovo opened #97 "ExportLicensePlate function throws exception on creating response"
The code generates the file but fails when creating the response.

Specifically this statement fails:

**req.CreateResponse(HttpStatusCode.OK, $"Exported {exportedCount} license plates");**

I haven't had the time to figure out exactly why it fails, but I found that removing the string makes it work. It might be related to versioning.

[2021-08-31 18:43] ricardocovo opened #98 "Deployment center now default to .Net version 4"
While completing the lab today, the deployment center did not give me the option to select the .Net version but instead defaulted it to version 4 as shown below:

![Screenshot 2021-08-31 104643](https://user-images.githubusercontent.com/1675545/131558275-fd495d58-742f-4566-8015-5a36c3db40b2.png)

As a result, the git action failed as follow:

![image](https://user-images.githubusercontent.com/1675

[2021-09-01 11:42] Karthikkc123 opened #99 "Unbale to change .Net version which has set default to v4.0."
1. Issue in [Exercise 6, Task 2, Step 8](https://github.com/microsoft/MCW-Serverless-architecture/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-2-configure-your-function-app-to-use-your-github-repository-for-continuous-deployment) As UI got updated in Azure portal, users are not able to select .Net version 3.1 inside function app for connecting to GitHub, wh

[2021-09-01 12:45] ricardocovo commented on #99
@Karthikkc123  I reported the same issue yesterday.

If you want to continue with the lab, you need to change the deployment file manually and change the .net version and that will allow you to continue with the exercise.

The file you need to change would be in your repository, and the change is just as follow:
![image](https://user-images.githubusercontent.com/1675545/131673261-6dae6dd4-cb67-445

[2021-09-01 12:51] Karthikkc123 commented on #99
Thanks @ricardocovo, I have checked on that.
Even I have done the same by updating the DOTNET_VERSION manually.

[2021-09-12 00:06] codingbandit commented on #97
I was unable to reproduce this issue, however, I updated the YML document to deploy version '3.1.x', so that may be the issue here. Please re-test with the DOTNET_VERSION value of '3.1.x'. Thanks.

[2021-09-13 16:48] DawnmarieDesJardins commented on #98
Closing issue as resolved with merge of PR #100

[2021-09-13 16:48] #98 closed

[2021-09-13 16:48] DawnmarieDesJardins commented on #99
Closing issue as resolved with merge of PR #100

[2021-09-13 16:48] #99 closed

[2021-09-17 20:37] DawnmarieDesJardins commented on #97
No additional comments so closing this issue.  Please reopen if you're still having trouble. Thank you!

[2021-09-17 20:37] #97 closed

[2021-12-21 20:37] anushabc opened #105 "Issue in exercise 7"
-  In Exercise 6  Task 2 step 7 the branch name appears to be master.  I checked the GitHub repo created in previous steps its created with the master branch.

![image](https://user-images.githubusercontent.com/66515706/146994125-30851c36-5641-44e7-a7e4-34fb86a54d0f.png)

-  In Exercise 6 task 3 step 16 I was not able to see the **Build/Deploy**  logs entry. But I got the message the changes were

[2021-12-22 14:47] sadukie commented on #105
@anushabc Did you create this repo from the Lab VM? Or are you running this from outside the Lab VM?

[2021-12-22 14:50] anushabc commented on #105
I created it from LabVM

[2021-12-22 14:50] anushabc commented on #105
I created it from LabVM

[2021-12-22 15:05] sadukie commented on #105
@anushabc I was able to replicate this on my end. I am tracking it down now to see why it's happening.

[2021-12-22 19:08] sadukie commented on #105
@anushabc It looks like the command to set the default branch for new git repositories isn't getting picked up properly as part of the initial VM set up.  I have a PR in to change the process a bit.

* Before creating the repository, you should be able to run the command `git config --global init.defaultbranch main` to default all new git repositories created in the LabVM to `main`.  This should t

[2021-12-22 20:31] sadukie commented on #105
@anushabc The PR has been merged. Please let us know if you run into any issues with the new change in `main`.

[2021-12-22 20:51] anushabc commented on #105
Sure @sadukie. Thank you for the help.

[2021-12-23 16:56] DawnmarieDesJardins commented on #105
Thanks all!  Closing the issue as resolved.

[2021-12-27 18:19] Karthikkc123 commented on #105
@sadukie In [Exercise-7 Task-1: Run the Logic App Step-3](https://github.com/microsoft/MCW-Serverless-architecture/blob/main/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md), After running the trigger I'm unable to get expected output in Logic App that **Expression Result as false.**

![image](https://user-images.githubusercontent.com/83394010/147497327-67ed69ae-e132-42c2-951f

[2021-12-27 18:21] DawnmarieDesJardins commented on #105
Reopening for investigation.

[2021-12-27 21:42] sadukie commented on #105
@Karthikkc123 I have a PR in to add another Task in Exercise 7.  In order to trigger the ExportLicensePlates function and get a `true` result, you may have to generate more data for it to export the CSV file to storage and end in an OK (status code 200) state.  If it returns `false` and you get a status of 204 (no new plates), check the storage account anyhow for the CSV file.

The Logic App has n

[2021-12-27 21:53] DawnmarieDesJardins commented on #105
Closing issue with merge of PR #108

[2021-12-27 21:53] #105 closed

[2021-12-28 14:35] Divyasri199 commented on #105
Hi @sadukie ,
We have performed the lab, but still we are facing the same issue that the expression results in Logic App is false.

![image](https://user-images.githubusercontent.com/83349577/147575234-f5d9a1bb-11bc-4679-b886-2f9463c56f66.png)

**Note**: We are able to get the expected CSV file in datalake storage account even after getting the expression result as false.

In [Exercise-6/Task-3](h

[2021-12-28 15:01] sadukie commented on #105
@Divyasri199 So some things to note:

* The `false` in [Exercise 7, Task 2](https://github.com/microsoft/MCW-Serverless-architecture/blob/main/Hands-on%20lab/HOL%20step-by-step%20-%20Serverless%20architecture.md#task-2-run-the-logic-app) is going to be a matter of timing.  The data run in [Exercise 7, Task 1](https://github.com/microsoft/MCW-Serverless-architecture/blob/main/Hands-on%20lab/HOL%20s

[2022-02-09 01:34] PremalathaRajendran1 opened #112 "Activating the visual studio in VM"
[In](![Visual studio](https://user-images.githubusercontent.com/99088477/153105459-128657c8-dda3-42a9-b41b-a7cb12de403b.PNG)) the below link facing issue in Exercise 1: Task 2 step 6. <[Hands-on lab](https://github.com/microsoft/MCW-Serverless-architecture/tree/main/Hands-on%20lab)/HOL step-by-step - Serverless architecture.md>

Task 2: Open the starter solution in Visual Studio

once logged into

[2022-02-09 01:45] PremalathaRajendran1 opened #113 "Task 2: Run ARM template to provision lab resources"
We are unable to fetch the customized deployment template while following task 2 step 6.

[Serverless architecture before the hands-on lab setup guide]-[Task 2: Run ARM template to provision lab resources]-Now, on the custom deployment screen in the Azure portal, enter the following:

![Custtomized template](https://user-images.githubusercontent.com/99088477/153106071-9905f296-4a4d-46dc-8201-8ce9c

[2022-02-09 14:08] sadukie commented on #112
You will not need a license key if you are using the lab VM for this Serverless MCW.  The ARM template is set to use Visual Studio Community Edition, not Enterprise Edition (as seen in your screenshot).  Once you have the Lab VM working for this MCW, you will notice the version like this:

![image](https://user-images.githubusercontent.com/106202/153217224-f2a328fb-00d1-469f-a704-33b4cd030249.png)

[2022-02-09 14:14] sadukie commented on #113
@PremalathaRajendran1 What is the error that you are getting when you run the deployment template?

I notice you mentioned [Task 2, Step 6](https://github.com/microsoft/MCW-Serverless-architecture/blob/main/Hands-on%20lab/Before%20the%20HOL%20-%20Serverless%20architecture.md#task-2-run-arm-template-to-provision-lab-resources).

Does your **Basics** section look something like this?
![image](https:

[2022-02-10 01:34] PremalathaRajendran1 commented on #113
@sadukie

Please find the below screenshot, Basic is disabled, and Unable to use it.

https://portal.azure.com/#create/Microsoft.Template
![Customized](https://user-images.githubusercontent.com/99088477/153320053-5a57408d-a9c0-4c5c-8c29-62c4d2e74093.PNG)

Please help us to use the customized template.

[2022-02-10 01:42] PremalathaRajendran1 commented on #112
@[sadukie]

You are right, we should fix the ARM Template first.

[2022-02-10 17:37] #112 closed

[2022-02-11 13:56] sadukie commented on #113
@PremalathaRajendran1 I'm not sure what you mean about navigating to deploy it and sharing the video.

Have you tried clicking on the "Deploy to Azure" image? It should take you to here: [Deploy the MCW Serverless Architecture resources to Azure](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fmicrosoft%2FMCW-Serverless-architecture%2Fmain%2FHands-

[2022-02-12 03:26] PremalathaRajendran1 commented on #113
@ [sadukie](https://github.com/sadukie)

Thanks for your prompt response, When we tried to deploy through custom deployment, we are getting the below errors.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"InUseSubnetCannotBeUpd

[2022-02-15 16:52] sadukie commented on #113
@PremalathaRajendran1 Have you tried deleting all the resources from failed attempts and running through the ARM template again? Are you still running into issues?

[2022-02-18 19:11] DawnmarieDesJardins commented on #113
No further comments from field, closing issue.  Please re-open if needed.

[2022-02-18 19:11] #113 closed

[2022-05-28 13:20] christiannagel opened #115 "Before the HOL - ObjectId not returned"
With the [Before the HOL](../blob/main/Hands-on%20lab/Before%20the%20HOL%20-%20Serverless%20architecture.md) documentation, the user objectId is needed to pass it as parameter to the ARM template. The specified command no longer returns the `objectId`. Instead, the ìd` can be used:

Task 2, Step 3:

Using the command

[code]

doesn't return an `objectId`, the result is empty. Instead, this command

[2022-06-03 04:58] saimachi commented on #115
Hi @christiannagel,

Thanks for bringing this issue to our attention. I updated the CLI command text and a few screenshots in the Pre-HOL document.

[2022-06-03 15:30] DawnmarieDesJardins commented on #115
Closing issue as resolved with latest commit.

[2022-06-03 15:30] #115 closed